# Akida examples requirements
imageio == 2.15.0
imblearn
jupyter
matplotlib
numpy
pandas
progressbar
sklearn
tensorflow-datasets
tabulate
trimesh

# Akida packages
akida == 2.2.3
cnn2snn == 2.2.3
akida_models == 1.1.4
