# Akida examples requirements
imageio
imblearn
jupyter
matplotlib
numpy
pandas
progressbar
sklearn
tensorflow-datasets
tabulate

# Akida packages
akida == 1.9.2
akida_models == 1.0.11
cnn2snn == 1.9.2
