# Akida examples requirements
imageio == 2.15.0
imblearn
jupyter
matplotlib
numpy
pandas
progressbar
scikit-learn
tensorflow-datasets
tabulate
trimesh

# Akida packages
akida ~= 2.3.0
cnn2snn ~= 2.3.0
akida_models ~= 1.1.9
